<ul>
  {{#each model as |story|}}
    <div class="container">
      <li>
        {{#link-to 'story' story.id}}
        <ul>
          <li>{{story.title}}</li>
          <li><img src= {{story.photo}}></li>
          <li>{{story.author}}</li>
          <li>{{story.tag}}</li>
          <li>{{story.timeAgo}}</li>
        </ul>
        {{/link-to}}
      </li>
    </div>
  {{/each}}
</ul>
