<h1 class="highlight">{{model.title}}</h1>
<h5>{{model.author}}</h5>
<img class ="tiny-img" src= {{model.authorImg}}>
<p><span class="time">{{model.timeAgo}}</span> <span class="tag">{{model.tag}}</span><img src= {{model.photo}}></p><br><hr>
<p>{{model.text}}</p>
